.list-group-item{
    border:0px;
}

.list-group-horizontal{
    flex-wrap: wrap;
}

.card{
    width: 300px!important;
    height: 250px!important;
    background-color: transparent;
}

.card-title, .card-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-group-item{
    background-color: transparent;
}

.container-empty{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border:2px solid white;
    margin-left:10px;
    margin-top:10px;
}

